<div class="row">
  <div class="col-sm-12">
    <h1><%= Question.model_name.human(count: 2).pluralize %></h1>
    <br />
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><%= t('question_text') %></th>
          <th><%= t('question_type') %></th>
          <th><%= t('answer_options') %></th>
          <th><%= t('question_position') %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.question_text %></td>
            <td><%= t(question.question_type) %></td>
            <td><%= question.answer_options %></td>
            <td><%= question.position %></td>
            <td class="actions-td" style="width: 350px;">
              <%= link_to t('edit'), edit_question_path(question), class: 'btn btn-primary' %>
              <%= link_to t('destroy'), question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
              <%= link_to t('destroy_related_answers'), destroy_question_answers_path(question), data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to t('new_question'), new_survey_question_path, class: 'btn btn-primary' %>
    <br />
    <br />
    <%= link_to t('back'), surveys_path, class: 'btn btn-primary' %>
  </div>
</div>