<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @question_type.name %>
</p>

<p>
  <strong>Rating scale:</strong>
  <%= @question_type.rating_scale %>
</p>

<p>
  <strong>Rating scale start:</strong>
  <%= @question_type.rating_scale_start %>
</p>

<p>
  <strong>Rating scale end:</strong>
  <%= @question_type.rating_scale_end %>
</p>

<%= link_to 'Edit', edit_question_type_path(@question_type) %> |
<%= link_to 'Back', question_types_path %>
