<div class="row">
  <div class="col-sm-12">
    <h1><%= Survey.model_name.human(count: 2).pluralize %></h1>
    <br />
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><%= t('name') %></th>
          <th><%= t('start_date') %></th>
          <th><%= t('end_date') %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @surveys.each do |survey| %>
          <tr>
            <td><%= link_to survey.name, survey_questions_path(survey) %></td>
            <td><%= l(survey.start_date) %></td>
            <td><%= l(survey.end_date) %></td>
            <td class="actions-td">
            <% if(current_user.admin?) %>
              <%= link_to t('edit'), edit_survey_path(survey), class: 'btn btn-primary' %>
              <%= link_to t('destroy'), survey, method: :delete, data: { confirm: t('confirmation') }, class: 'btn btn-danger' %>
            <% else %>
              <%= link_to t('answer'), new_survey_answer_group_path(survey), class: 'btn btn-primary' %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <% if(current_user.admin?) %>
      <%= link_to t('new_survey'), new_survey_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>