<h1><%= t('results') %>
<ol>
	<% @survey.questions.each do |question| %>
		<li class="list-group">
			<b><%= question.question_text %></b>
			<br />
			<% if question.options.any? %>
				<%= bar_chart get_graph_data(question), get_graph_options %>
			<% else %>
				<ul>
					<% question.answers.each do |answer| %>
						<% if answer.answer_text.present?  %>
							<li><%= answer.answer_text %></li>
						<% end %>
					<% end %>
					<% if question.answers.empty? %>
						<li><%= t('no_answers') %></li>
					<% end %>
				</ul>
			<% end %>
		</li>
	<% end %>
</ol>