<%= simple_form_for [@survey, @answer_group] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% @answers.each do |answer| %>
	  	<%= f.fields_for("#{answer.question.id}", answer) do |answer_form| %>
	      <%= render_answer_form(answer, answer_form) %>
	    <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
